<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<div class="container-fluid">
    <h1 class="display-4 text-center">Add A Book</h1>
</div>
<div th:replace="fragments:: nav-bar"></div>


<div class="container mt-4">
    <form id="book-form" method="post">

        <div class="form-group">
            <label>TITLE
                <input th:field="${bookFormDTO.title}" class="form-control">
            </label>
            <p class="error" th:errors="${bookFormDTO.title}"></p>
        </div>

        <div class="form-group form-select">
            <label th:for="${bookFormDTO.author}">AUTHOR</label>
                <th:block th:each="author : ${authors}">
                    <select name="${bookFormDTO.author}">
                        <option th:text="${author.name}"
                                th:value="${author.id}">
                        </option>
                    </select>
                </th:block>
<!--                <input type="text" th:field="${bookFormDTO.author}" class="form-control">-->
            <p class="error" th:errors="${bookFormDTO.author}"></p>
        </div>

        <div class="form-group form-check" id="category-list">
            <label th:for="category">CATEGORY</label><br>
            <th:block th:each="category : ${categories}">
                <input type="checkbox" name="category" th:value="${category.id}">
                <label th:text="${category.name}"></label>
            </th:block>
        </div>
        <!-- //Later updates to work it as a table/multiple columns with more category options? -->

        <input type="submit" value="ADD BOOK" class="btn btn-primary btn-block">

    </form>
</div>


</body>
</html>