<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments:: head"></head>

<body>

<div class="container-fluid">
    <h1 class="display-4 text-center">View All Books</h1>
</div>

<div th:replace="fragments:: nav-bar"></div>

<div class="container body-content">
    <h2>Books</h2>
    <ul>
        <li th:each="book : ${books}">
            <a th:href="@{'/books/view/' + ${book.id}}" th:text="${book.title}"></a>
        </li>
    </ul>
    <a th:href="@{'/books/add'}">Add Books</a>

</div>


</body>
</html>