<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments:: head"></head>

<body>

<div class="container-fluid">
    <h1 class="display-4 text-center">View All Authors</h1>
</div>

<div th:replace="fragments:: nav-bar"></div>

<div class="container body-content">
    <h2>Authors</h2>
    <ul>
        <li th:each="author : ${authors}">
            <a th:href="@{'/authors/view/' + ${author.id}}" th:text="${author.name}"></a>
        </li>
    </ul>
    <a th:href="@{'/authors/add'}">Add Authors</a>

</div>


</body>
</html>