<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<div class="container-fluid">
    <h1 class="display-4 text-center">Make A List</h1>
</div>
<div th:replace="fragments:: nav-bar"></div>

<div class="container mt-4">
    <form id="bookLists-form" method="post">

        <div class="form-group">
            <label>List Name
                <input th:field="${bookLists.name}" class="form-control">
            </label>
            <p class="error" th:errors="${bookLists.name}"></p>
        </div>

    </form>
</div>

<div th:unless="${bookListsId=null}" class="container mt-4">
    <form id="bookList-add-book" method="post">

        <div class="form-group">
            //this should be an autofill selection that pulls from bookRepository
            <label>Book Title
                <input th:field="${book.name}" class="form-control">
            </label>
            <p class="error" th:errors="${book.name}"></p>
        </div>

    </form>
</div>


<!--//this needs to post and then redirect to an add books page that uses the booklist id (request param)to add/delete books-->

</body>
</html>